[aws]
aws_region_name = us-east-1

[global]
update_check = true
sanity_check = true
cluster_template = closed

[aliases]
ssh = ssh {CFN_USER}@{MASTER_IP} {ARGS}

[cluster closed]
key_name = <SSH-KEY>
additional_iam_policies = arn:aws:iam::aws:policy/AmazonSSMManagedInstanceCore

base_os = alinux2
scheduler = slurm
master_instance_type = c5.large
compute_instance_type = c5.xlarge
disable_hyperthreading = true
initial_queue_size = 0
max_queue_size = 10

vpc_settings = closed
tags = {"Project": "ParallelCluster-Closed"}

[vpc closed]
vpc_id = <VPC_ID>
master_subnet_id = <SUBNET_ID>
use_public_ips = false

